<button class="frick button bg-gray-800 bg-opacity-20 backdrop-blur-md hover:grey text-white  py-4 px-8 border-b-8 active:border-b-4 border-gray-800 border-opacity-20 rounded cursor-pointer">
  <slot />
</button>
