---
const today = new Date();
---

<footer
  class="flex flex-col items-center container mx-auto p-10 text-center gap-10 pb-40"
>
  <a href="https://www.linkedin.com/in/manuelthomsen/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profile" class="mb-2 flex items-center gap-2 hover:text-blue-700 transition-colors">
  
    <span class="sr-only">LinkedIn</span>
  </a>
  &copy; {today.getFullYear()} Manuel Thomsen. All rights reserved.
</footer>
